<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>

    {{> header }} <!-- include header partial -->

    <p>{{ Portfolio }}</p>

    {{> footer }} <!-- include footer partial -->

  </body>
</html>
